.box{
    margin-top: 20px;
}
.container{
    width: 360px;
    height: 432px;
    overflow-y: auto;
    
}

.h2{
    text-align: center;
    color: rgb(95, 169, 238);
}
.a{
    margin-top: 15px;
    position: absolute;
    right: 10px;
    color:  rgb(95, 169, 238);
    cursor: pointer;
}