.remberPsw{
    float: right;
}

.submitBtn{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
}
.login-submit{
    width: 400px;
    margin: 0;
    padding: 0;
}
.fromBox{

    width: 400px;
    margin-left: -60px;
    padding: 0;
}
.loginBtn{
    width: 150px;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    margin-left: 50px;
}
