.person_container{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: center;
}
.body_container{
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: space-around;
}


.person-right{
    width: 500px;
    height: 300px;
}

.ant-menu, .ant-menu-light, .ant-menu-root, .ant-menu-inline{
    flex-wrap: wrap;
    width: 180px;
}