.box{
    margin-left: 20px;
}
.container{
    width: 380px;
    height: 400px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 10px;
}
.h2{
    text-align: center;
    color: rgb(110, 183, 252);
}
.span{
    color: #000;
    cursor: pointer;
    animation: 1s;
}
.activeSpan{
    color: rgb(78, 210, 250);
}

.card{
    width: 300px;  
    background-image: linear-gradient(to bottom, rgb(250, 245, 245), rgb(253, 252, 252));
}
.input{
    color: rgb(121, 119, 119);
}
.cardBox{
    margin-bottom: 20px;
}