/*全局css样式，默认所有页面组件都引用（无再需在代码中引入）*/
html,
body {
    /* background-image: linear-gradient(to bottom, rgb(250, 245, 245), rgb(255, 255, 255)); */
    /* background-image: linear-gradient(to bottom, rgb(203, 245, 255), rgb(255, 255, 255)); */
    background-color: rgb(214, 245, 245);
    
    -webkit-user-select:none;

     -moz-user-select:none;

     -ms-user-select:none;

     user-select:none;

}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none
}

button {
    border: none;
    cursor: pointer;
}


.containerBox {
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgb(224, 222, 222);
    background-color: #fff;
    padding: 10px;
}

::-webkit-scrollbar {
    display: none
}

.ant-dropdown-menu, .ant-dropdown-menu-light, .ant-dropdown-menu-root, .ant-dropdown-menu-vertical{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
 }
