.container{
    width: 780px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-bottom: 4px;
}
li{

    display: block;
    width: 100px;
}
a{
    color: #000;
    font-size: 15px;
}

.nowkey{
    color:  #40a9ff;
    padding-bottom: 2px;
    border-bottom: 2px solid  #40a9ff;
    font-weight: bold;
    font-size: 17px;
}
.img{
    position: absolute;
    top: 27px;
}
.avatar{
    border: 1px solid #cecdcd;
}

.avatar_li{
   width: 140px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}
.ant-dropdown-menu, .ant-dropdown-menu-light, .ant-dropdown-menu-root, .ant-dropdown-menu-vertical{
   width: 200px;
   background-color: #40a9ff;
   
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}