.container{
    width: 800px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-bottom: 4px;
}
li{

    display: block;
    width: 100px;
}
a{
    color: #000;
    font-size: 15px;
}

.nowkey{
    color:  #40a9ff;
    border-bottom: 2px solid  #40a9ff;
}